<div class="event-name"><%= @event_name %></div>
<div class="user-count"><%= @event_users_count %> people to meet.</div>
<div class="current-user">
  <div "show">
    <div id="image">

    </div>
    <div id="info">
      <h1></h1>
      <h2></h2>
      <h2 class="looking_for"></h2>
      <h2></h2>
    </div>
  </div>
</div>