/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  background: url('subtle_carbon.png');
 }

 header {
  background: #4AD9D9;
 }

 footer {
  background: #4AD9D9;
  height: 75px;
 }

 footer img {
    width: 200px;
    padding: 15px;
    float: right;
 }

 #main {
    width: 960px;
    margin: auto;
 }

 #booth {
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 10px 0;
  border: 1px #4AD9D9 solid;
  border-radius: 5px;

 }

 #logo {
  height: 260px;
  width: 300px;
  background: url('logo-03.png') no-repeat;
  background-size: 80%;
  padding-bottom: -30px;
  margin: auto;
 }


input[type="submit"]{
  padding:10px 30px;
  background-color: #4AD9D9;
  border-bottom: 4px solid #35B1BF;
  border-top: none;
  border-right: none;
  border-left: none;
  font-weight: 800;
  font-size:14px;
  font-family: sans-serif;
  color: #fff;
  margin-top:12px;
  border-radius: 2px;
}

input:hover {
  background-color: $red;
  border-bottom: 4px solid $dark-red;
  color:#fff;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}